.subscribe {
    background-image: url(https://media.istockphoto.com/id/1403897484/photo/university-student-working-on-a-school-project-in-the-library.jpg?s=612x612&w=0&k=20&c=bgIp0wfPdtFFWJVb9UsIwHf8CTdjKW4roS8kb43sdVs=);
    background-position: center;
    background-size: cover;
}