<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practicing Layouts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <h1>Hello World!</h1>

    <div class="container">
        <!-- Controlling the horizontal padding/margin -->
        <div class="row">
            <div class="col gx-3">
                <div class="bg-primary text-white p-3">
                    Columns
                </div>
            </div>
            <div class="col gx-3">
                <div class="bg-primary text-white p-3">
                    Columns
                </div>
            </div>
        </div>
        <!-- Controlling the vertical padding/margin -->
        <div class="row">
            <div class="col gy-3">
                <div class="bg-secondary text-white p-3">
                    Columns
                </div>
            </div>
            <div class="col gy-3">
                <div class="bg-secondary text-white p-3">
                    Columns
                </div>
            </div>
        </div>
    </div>
    
    <script> src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"</script>
    <sript src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></sript>
</body>
</html>